/*############################--GOOGLE FONTS--#############################*/
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');



/*############--Reset all elements--########*/

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    
}


/*############--Reset specific elements--########*/

html,body{
    height:100%;
}


body{
    font-family:"Hanken Grotesk" sans-serif;
    background-color: hsla(241, 100%, 89%, 0.438);
}


main{
    display:flex;
    justify-content: center;
    padding:50px 0px;
   
 
 
    
}

h1{
    font-size:6rem;
    padding-top:30px;
    border-radius:100%;
    width:200px;
    height:200px;
    color:hsla(0, 0%, 100%, 0.863);
    margin:auto;
    background-image: linear-gradient( hsla(256, 72%, 46%, 1),  hsla(241, 72%, 46%, 0));
}

h4{
    color:hsla(0, 0%, 100%, 0.747);
    font-size:1.5rem;
    padding:40px 0px 30px 0px;
}

h2{
    color:hsla(0, 0%, 100%, 0.856);
    font-size:2rem;
    padding-top:15px;
    padding-bottom:12px;

}
 
h3{
    font-size:1.8rem;
    font-weight: 600;
    padding-top:40px;
    padding-bottom:25px;
    margin-left:30px;
    color:hsl(224, 30%, 27%);
    
 }

 button{
  width:260px;
  font-size:1rem;
  padding:15px 0px;
  margin-left:50px;
  margin-top:20px;
  background-color:hsl(224, 30%, 27%);
  color:hsla(0, 0%, 100%, 0.856);
  border-radius:20px;
  


 }



 


/*############--class selectors--########*/


.container-first{
    background-image: linear-gradient( hsl(252, 100%, 67%),  hsl(241, 81%, 54%));
    text-align:center;
    padding:0px 70px;
    border-radius:20px;
     background-color: hsla(241, 100%, 89%, 0.596);
     box-shadow: 10px 10px 37px -2px rgba(0,0,0,0.45);
 
     
}

.container-second{
  
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px;
    box-shadow: 10px 10px 37px -2px rgba(0,0,0,0.45);

   
}



.container-second >div{
    display:flex;
    justify-content:space-between;
    width:260px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:15px;
    border-radius:10px;
    
}



.container-second >div >div{
    padding:15px 10px;
    
}



.circle{
    position:relative;
    bottom:70px;
    color: hsla(0, 0%, 100%, 0.575);
}

/*################################-first-container-classes-##########################*/


.para{
    font-size:1.1rem;
    width:250px;
    color: hsla(0, 0%, 100%, 0.651);
    padding-bottom:50px;
    word-spacing: 2px;
    letter-spacing: 1px;
    
}









/*################################-second-container-classes-##########################*/
.reaction{
    background-color:hsla(0, 100%, 67%, 0.080);
}

.memory{
    background-color: hsla(39, 100%, 56%, 0.2);
}

.verbal{
    background-color: hsla(0, 0%, 0%, 0.060);
}

.visual{
    background-color:  hsla(234, 85%, 45%, 0.060);
}

.number-first{
  font-weight: 800;
  font-size: 1.3rem;
  color: hsl(0, 0%, 20%);
}

.number-second{
    font-weight: 800;
    font-size: 1.3rem;
    color: hsl(0, 0%, 30%);
}

.reaction-span{
    color: hsla(0, 100%, 67%, 0.925);
    font-size:1.3rem;
    margin-left:5px;
}

.memory-span{
    color:hsla(36, 100%, 56%, 0.993);
    font-size:1.3rem;
    margin-left:8px;
}

.verbal-span{
   color: hsl(166, 100%, 37%);
   font-size:1.3rem;
   margin-left:5px;
}

.visual-span{
    color:hsl(234, 85%, 45%);
    font-size:1.3rem;
    margin-left:7px;
}



/*################################-Footer-##########################*/


.attribution { 
    font-size: 11px; text-align: center; 

}
    
.attribution a { 
    color: hsl(228, 45%, 44%);

}



/*#########################################--Media Queries-770--#########################################*/


@media only screen and (max-width:770px){

   .container-first{
       padding:0px 40px;
   }


   .container-second >div >div{
    padding:15px 5px;
    
}

.container-second > div{
     width:80%;
}

button{
    width:80%;
   
}


}


/*#########################################--Media Queries-640px--#########################################*/


 @media only screen and (max-width:640px){

        main{
          
            flex-direction: column;
            padding-top:0px;
            

        }


   .para{
       width:100%;
       padding:0px 50px 50px 50px;

   }
   
    .container-first{
        border-top-left-radius:0px;
        border-top-right-radius:0px;
        
    }


  .container-second{
     border-bottom-left-radius:20px;
     border-top-right-radius:0px;
  }


   .container-second > div{
    width:80%;

   
 }

      button{

        width:80%;
        margin-bottom:20px;

   }


 }